@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white1: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

p {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: var(--slightly-transparent-white2);
  line-height: 1.6;
}

img {
  max-height: 100%;
}

ul li {
  list-style: none;
}

/* content */

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 30px;
  width: 375px;
  background-color: var(--dark-desaturated-blue);
  border-radius: 10px;
  box-shadow: 3px 3px 3px hsl(244, 38%, 16%, 0.2);
}

.bg-image {
  background: url(images/image-header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 275px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.overlay {
  background: hsl(277, 64%, 35%, 0.6);
  height: 275px;
}

.title {
  font-family: "Lexend Deca";
  font-weight: bold;
  margin: 30px 30px 0 30px;
  color: var(--white);
}

.change-color {
  color: var(--soft-violet);
}

.desc {
  color: var(--slightly-transparent-white1);
  margin: 0 10px 50px 10px;
  padding: 30px 30px 0 30px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  letter-spacing: 1px;
  align-items: center;
}

.list li {
  margin-bottom: 2em;
}

.subtitle {
  color: var(--white);
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: bold;
}

.list p {
  font-family: "Lexend Deca";
  font-size: 13px;
  text-transform: uppercase;
  color: var(--slightly-transparent-white2);
}

/* footer */

.attribution {
  color: var(--slightly-transparent-white2);
  position: relative;
  margin-top: 20px;
  bottom: 0;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 10px;
  text-align: center;
  line-height: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--soft-violet);
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    padding: 0;
  }

  .bg-image {
    background: url(./images/image-header-desktop.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
  }

  .overlay {
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .title {
    font-size: 2rem;
    padding: 10px;
  }

  .desc {
    font-size: 0.85rem;
    margin: 0;
    padding: 0 40px;
    margin-top: 10px;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    margin-top: 30px;
  }

  .list li {
    margin-right: 20px;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .list li p {
    font-size: 0.65rem;
  }
}
